body {
    background-color: #248f24;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #ffffff;
    padding: 10px;
    margin: 0;
}

#game {
    margin: 100px auto 0px auto;
}

#game p {
    color: #ffffff;
    text-align: center;
}

.card {
    background-color: #ffffff;
    width: 242px;
    height: 353px;
    border-radius: 30px;
    visibility: hidden;
}

.card img {
    width: 222px;
    margin: 10px;
}